<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" [src]="productItem.image">
    <div class="card-body">
        <p class="card-text">
            <strong>{{ productItem.price.final_price | currency:'INR'}}</strong>
        </p>
      <p class="card-text">{{ productItem.title | slice: 0:50 }}</p>
      <p class="card-text"><strong>Brand: </strong>{{ productItem.brand }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddtoCart()">Add to Cart</button>
        </div>
    </div>
</div>